@import 'variables';
@import 'mixins';
@import 'normalize';
@import 'layout';
@import 'nprogress/nprogress.css';
* {
  box-sizing: border-box;
  margin: 0;
}

.goBack {
  text-decoration: none;
  color: $font-color;
  box-shadow: inset 0 0 5px 5px $container-background;
  padding: 10px;
  margin: 10px 0;
  width: 7vw;
}

.solbergBackground {
  background: linear-gradient(
      to top,
      #1c2444 50%,
      rgba(1, 11, 61, 0.5) 70%,
      rgba(1, 11, 61, 0) 80%
    ),
    url('/solbergback.JPG');
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-size: 100% 100%, 100% 100%;
}
.kolbjornrudBackground {
  background: linear-gradient(
      to top,
      #1c2444 50%,
      rgba(1, 11, 61, 0.5) 70%,
      rgba(1, 11, 61, 0) 80%
    ),
    url('/kolbjback.JPG');
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-size: 100% 100%, 100% 100%;
}
body {
  background: linear-gradient(
      to top,
      #1c2444 50%,
      rgba(1, 11, 61, 0.5) 70%,
      rgba(1, 11, 61, 0) 80%
    ),
    url('/group1.jpeg');
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-size: 100% 100%, 100% 100%;
  font-family: $main-font;
  color: $font-color;
}

p {
  line-height: 25px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#nprogress .bar {
  background-color: #fff;
  padding: 5px;
}
