@import './Global/variables';

.contactHeaderWrapper {
  font-style: italic;
  text-align: left;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid $font-color;
}
.contactBodyWrapper {
  padding: 40px;
  font-size: 20px;
  line-height: 1.6;
  .contactCompanyName {
    font-weight: 600;
    font-size: 28px;
    padding: 20px 0;
  }
  .elizabethPhone {
    margin-top: 20px;
  }
}

.mapWrapper {
  height: 50vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.loadingElement {
  height: 100%;
  width: 50%;
}

.containerElement {
  height: 100%;
  width: 100%;
}

.mapElement {
  height: 100%;
  width: 100%;
}

.infoWindowInfo {
  color: black;
}
