.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.companyName {
  margin: 8vh auto;
}

.companyDescription {
  p {
    text-indent: 50px;
    font-size: 20px;
    line-height: 1.8;
  }
}

.companyMotto {
  margin: 5vh auto;
  font-size: 28px;
}

.companyPicture {
  height: 400px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.employees {
  gap: 45px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  .employee {
    position: relative;
    margin: 1.5rem;
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    &:hover {
      .employeePhotoContainer {
        transform: translate(-7rem, 0);
      }
      .employeeName {
        transform: translate(-7rem, 0);
        background: rgba(0, 0, 0, 0.3);
        z-index: 5;
      }
      .employeeDescription {
        transform: translate(5.5rem, 0);
        background: rgba(0, 0, 0, 0.5);
        z-index: 10;
      }
    }
    .employeeName {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      display: flex;
      justify-content: center;
      background-color: transparent;
      z-index: 1;
      align-items: flex-end;
      text-align: center;
      transition: 0.5s ease-in-out;
    }
    .employeePhotoContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: all 0.5s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        resize: both;
      }
    }
    .employeeDescription {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      background-color: transparent;
      z-index: 1;
      align-items: center;
      text-align: center;
      transition: 0.5s ease-in-out;
    }
  }
}

@media screen and (max-width: 1200px) {
  .employees {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 0 50px;
  }
}

@media screen and (max-width: 768px) {
  .employees {
    gap: 0;
    margin: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .employees {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    gap: 10px;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 467px) {
  .employees {
    .employee {
      &:hover {
        .employeePhotoContainer {
          transform: translate(0, -10rem);
        }
        .employeeName {
          transform: translate(0, -10rem);
        }
        .employeeDescription {
          transform: translate(0, 10rem);
          background: rgba(0, 0, 0, 0.9);
        }
      }
    }
  }
}
