.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.companyName {
  margin: 8vh auto;
  
}

.companyDescription {
  p {
    text-indent: 50px;
    font-size: 20px;
    line-height: 1.8;
  }
}

.companyMotto {
  margin: 5vh auto;
  font-size: 28px;
}

.companyPicture {
  height: 400px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.employees {
  gap: 45px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  .employee {
    position: relative;
    margin: 2rem;
    height: 400px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    &:hover {
      .employeePhotoContainer {
        transform: translate(-7rem, 0);
      }
      .employeeName {
        transform: translate(-7rem, 0);
        background: rgba(0, 0, 0, 0.3);
        z-index: 5;
      }
      .employeeDescription {
        transform: translate(6.25rem, 0);
        background: rgba(0,0,0,0.5);
        z-index: 10;
      }
    }
    .employeeName {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 1.5rem;
      display: flex;
      justify-content: center;
      background-color: transparent;
      z-index: 1;
      align-items: flex-end;
      text-align: center;
      transition: 0.5s ease-in-out;
    }
    .employeePhotoContainer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      transition: all 0.5s ease-in-out;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        resize: both;
      }
    }
    .employeeDescription {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      background-color: transparent;
      z-index: 1;
      align-items: center;
      text-align: center;
      transition: 0.5s ease-in-out;
    }
  }
}
