@import './Global/variables';

.showMobile {
  transition-timing-function: ease-out;
  transition-duration: 0.75s;
  clip-path: circle(520px at 150px 24px) !important;
}
.navMobileContainer {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 350px;
  background: #1c2460;
  color: $font-color;
  clip-path: circle(24px at 32px 24px);
  transition: clip-path 0.375s;
  z-index: 1000;
  .kolbjornrudMobileTitle {
    padding: 2px 20px;
    border-top: 1px ridge $font-color;
    border-bottom: 1px ridge $font-color;
    text-align: center;
  }
  .solbergMobileTitle {
    padding: 2px 20px;
    border-top: 1px ridge $font-color;
    border-bottom: 1px ridge $font-color;
    text-align: center;
  }
  a {
    display: block;
    line-height: 50px;
    color: inherit;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    text-align: center;
    &:hover {
      background: #173d5b;
    }
    &:active {
      background: #ffca28;
    }
    &:first-letter {
      text-transform: uppercase;
    }
  }
  .navicon {
    padding: 23px 20px;
    cursor: pointer;
    transform-origin: 32px 24px;
    div {
      position: relative;
      width: 20px;
      height: 2px;
      background: $font-color;
      &:before,
      &:after {
        display: block;
        content: '';
        width: 20px;
        height: 2px;
        background: $font-color;
        position: absolute;
      }
      &:before {
        top: -7px;
      }
      &:after {
        top: 7px;
      }
    }
  }
}

@media screen and (min-width: 650px) {
  .navMobileContainer {
    display: none;
  }
}
