@import './Global/variables';

.offerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .offerHeader {
    font-style: italic;
    text-align: left;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid $font-color;
  }
  .offerBodyWrapper {
    .offerDescription {
      font-size: 20px;
      line-height: 1.6;
      padding: 20px 0;
    }
    .levelsWrapper {
      display: grid;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
      gap: 10px;
      justify-items: center;
      align-items: center;
      .levelOffer {
        background: #1c2446;
        padding: 15px;
        height: 100%;
        .levelTitle {
          padding: 15px 0;
        }
        .offerList {
          min-height: 60%;
          li {
            p {
              font-size: 20px;
              line-height: 1.6;
            }
          }
        }
        .levelOfferPrice {
          text-align: center;
          margin: 50px 0;
        }
      }
    }
    .offerStallUses {
      padding: 15px;
      margin-top: 30px;
      .offerStallUsesTitle {
        padding: 15px 0;
      }
      ul {
        min-height: 10rem;
      }
      p {
        font-size: 20px;
        line-height: 1.6;
      }
    }
  }
}

.gridColumnOne {
  grid-template-columns: repeat(1, minmax(100px, 1fr)) !important;
}
.moreMarginTopInPTag {
  p {
    margin-top: 20px;
  }
}

@media screen and (max-width: 940px) {
  .offerWrapper {
    .offerBodyWrapper {
      .levelsWrapper {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        align-items: center;
        .levelOffer {
          .offerList {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .offerWrapper {
    .offerBodyWrapper {
      .levelsWrapper {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        .levelOffer {
          min-width: 50vw;
          width: 100%;
          min-height: unset;
          height: unset;
          .offerList {
            min-height: 5rem;
            height: 100%;
          }
        }
      }
    }
  }
}
